body {
  background-color: #282c34;
}
.App {
  text-align: center;
}
.App-header {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.card {
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  color: rgba(6, 5, 13, 0.966);
  background-color: rgba(245, 245, 245, 0.92);
}
.card-title {
  font-size: 30px;
}
#portfolioBtns {
  margin-bottom: 15px;
  background-color: rgba(19, 15, 40, 0.921);
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.532);
  text-decoration: none;
}
#portCards {
  display: flex;
  justify-content: space-evenly;
}
#singleProj {
  margin: 55px;
  width: 25rem;
  transition: transform 0.5s;
}
#singleProj:hover {
  transform: rotate(2deg);
}
#headerStyle {
  display: flex;
}
#maName {
  font-size: 50px;
  font-weight: 600;
  color: rgba(245, 245, 245, 0.92);
}

#contact {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}
#cIcon {
  font-size: 50px;
  text-decoration: none;
  margin:10px;
  padding: 20px;
}
#headshot {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(6, 5, 13, 0.921);
  margin-top: 25px;
}
#bio {
  max-width: 50%;
  font-size: 30px;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  padding: 20px;
  margin-left: 0px;
  background-color: rgba(245, 245, 245, 0.92);
}
#AboutMe {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 55px;
}
#resume {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 50px;
}
#resumeBtn {
  background-color: rgba(19, 15, 40, 0.921);
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 3px;
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0.532);
  border-style: solid;
  border-width: 2px;
}
#resumeText {
  margin-bottom: 40px;
}
.card-img-top {
  width: 100%;
}

#mailTo {
  font-size: 60px;
  text-decoration: none;
  padding:20px;
}

.m-2 {
  font-size: 50px;
  text-decoration: none;
  margin: 20px;
}

#headerStyle {
  background-color: #0e0e0e;
  color: white;
  display: flex;
  justify-content: space-around;
}

.navbar {
 display: flex;
margin-top: 15px;
}

#footer {
  font-size: 30px;
  margin-top: 30px;
  color: rgba(211, 211, 211, 0.92);;
}
@media (max-width: 500px) {
  .App {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  #portCards {
    display: flex;
    flex-direction: column;
  }
  #AboutMe {
    display: block;
    margin-top: 25px;
    margin-bottom: 55px;
    max-width: 100%
  }
  #bio {
    max-width:100%;
    font-size: 40px;
    padding-bottom: 60px;
  }
  #resumeBtn {
    background-color: rgba(19, 15, 40, 0.921);
    color: white;
    font-size: 55px;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0.532);
    border-style: solid;
    border-width: 2px;
  }
  #resume-card {
    padding: 20px;
    border-radius: 3px;
    margin-top: 40px;
    font-size: 40px;
    max-width: 100%;
  }
  #resumeText {
    font-size: 50px; 
  }
.App-header {
  max-width: 100%;
}
#headerStyle {
  display: flex;
  flex-direction: column;
  background-color: rgba(13, 12, 12, 0.942);
 }
 .navbar {
  display: flex;
  
 }
 #maName {
  font-size: 100px;
  margin: 10px;
  margin-top: 15px;
 }
 #headshot {
width: 90%;
 }
 #portCards {
  display: flex;
  justify-content: space-evenly;
}
#singleProj {
  margin-top: 55px;
  width: 86%;
  transition: transform 0.5s;
}
#singleProj:hover {
  transform: rotate(2deg);
}
#portCards {
  display: flex;
  justify-content: space-evenly;
  
}
.card-title {
  font-size: 50px;
  margin-bottom: -20px;
}

h4, h6 {
  font-size: 40px;
}
h4 {
  margin-bottom: -70px;
}
#portfolioBtns {
  margin-bottom: 15px;
  background-color: rgba(19, 15, 40, 0.921);
  color: white;
  font-size: 55px;
  padding: 15px;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.532);
  text-decoration: none;
}
#footer {
  font-size: 40px;
  margin-bottom: 20px;
}
.m-2 {
  font-size: 50px;
  font-weight: 500;
}
#contact {
  background-color: rgba(245, 245, 245, 0.92);
  padding-bottom: 50px;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.532);
  font-size: 40px;
  margin-top: 50px
}
#mailTo {
  font-size: 70px;
  text-decoration: none;
  padding:20px;
  font-weight: 500;
}
  }
