body {
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(6, 5, 13, 0.921);
  display: flex;
  flex-direction: row;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  color: rgba(6, 5, 13, 0.966);
  background-color: rgba(245, 245, 245, 0.92);
}
.card-title {
  font-size: 30px;
}
#portfolioBtns {
  margin-bottom: 15px;
  background-color: rgba(19, 15, 40, 0.921);
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.532);
}
#portCards {
  display: flex;
  justify-content: space-evenly;
}
#singleProj {
  margin: 55px;
  width: 25rem;
  transition: transform 0.5s;
}

#singleProj:hover {
  transform: rotate(2deg);
}

#headerStyle {
  display: flex;
  justify-content: space-evenly;
}
#maName {
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
}
#navigate {
  display: flex;
  align-items: center;
  margin-left: 150px;
  color: rgba(255, 255, 255, 0.952);
  font-size: 40px;
  text-decoration: none;
  font-weight: 500;
}

#contact {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #282c34;
}

#cIcon {
  padding: 20px;
}

#headshot {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(6, 5, 13, 0.921);
  margin-top: 25px;
}
#bio {
  max-width: 50%;
  font-size: 30px;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  padding: 20px;
  margin-left: 0px;
  background-color: rgba(245, 245, 245, 0.92);
}
#AboutMe {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 15px;
}

#resume {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 50px;
}

#downloadBtn {
  margin-bottom: 15px;
  background-color: rgba(19, 15, 40, 0.921);
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.532);
  text-decoration: none;
}

#resumeBtn {
  background-color: rgba(19, 15, 40, 0.921);
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 3px;
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0.532);
  border-style: solid;
  border-width: 2px;
}

