body {
  background-color: #282c34
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(6, 5, 13, 0.921);
  display: flex;
  flex-direction: row;
  font-size: calc(15px + 1vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border-style: solid;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.532);
  color: rgba(6, 5, 13, 0.966);
  background-color: rgba(245, 245, 245, 0.92)
}
.card-title {
  font-size: 30px;
}
#portfolioBtns {
margin-bottom: 15px;
background-color: rgba(19, 15, 40, 0.921);
color:white;
font-size: 25px;
padding: 15px;
border-radius: 3px;
border-color: rgba(255, 255, 255, 0.532);
}
#portCards {
  display: flex;
  justify-content: space-evenly;
}
#singleProj {
  margin: 55px;
  width: 25rem;
}
#headerStyle {
display: flex;
justify-content: space-evenly;
}
#maName {
  display: flex;
  align-items: start;
  padding-left: 30px;
}
#navigate {
  display: flex;
  align-items: center;
  padding-left: 150px;
  color:rgba(255, 255, 255, 0.952);
  font-size: 40px;
  text-decoration: none;
}